body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dogCards {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  justify-items: center !important;
 
margin-top: 5%;
}

.dogCard {
  width: 20%;
  height: 20vh;
}

.dogCard img {
  height: 32vh;
}


.addDogBTN {
  margin-top: 4%;
}

#removeBTN {
  margin-top: 4%;
}


#walkerCards {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  justify-items: center !important;
 
margin-top: 5%;
}

.walkerCard {
  width: 20%;
  height: 20vh;
}

.walkerCard img {
  height: 32vh;
}


.addWalkerBTN {
  margin-top: 4%;
}

#removeBTN {
  margin-top: 4%;
}

.addWalker {
  margin: 10px;
}
